<h1 class="text-center">Greeting</h1>

<div class="card card-body offset-3 shadow col-md-6">

  <div class="mb-3">
    <ul class="list-unstyled">
      <li *ngFor="let greeting of arrGreeting"
          [class.selected]="greeting === selectedGreeting"
          (click)="onSelect(greeting)">
        <span>{{greeting.id}} </span>
        <span>{{greeting.name}} </span>
        <span>{{greeting.lastname}} </span>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedGreeting" class="mb-3">

    <h3><span class="text-primary">{{selectedGreeting.name | uppercase}}</span> Details</h3>
    <div><span>ID: </span>{{selectedGreeting.id}}</div>
    <ul class="list-unstyled">
      <li>
        <label>Name:
          <input [(ngModel)]="selectedGreeting.name" placeholder="name"/>
        </label>
      </li>
      <li>
        <label>Lastname:
          <span>{{selectedGreeting.lastname}}</span>
        </label>
      </li>
    </ul>

  </div>

</div>
