<div class="jumbotron px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4 text-center">Greeting</h1>
  <p class="lead"></p>
</div>

<form [formGroup]="greetingForm">
  <div class="form-group row col">
    <label class="col-form-label">Name</label>
    <input class="form-control" formControlName="name">
  </div>
  <div class="form-group row col">
    <label class="col-form-label">Lastname</label>
    <input class="form-control" formControlName="lastName">
  </div>
  <button class="col-auto btn btn-primary" (click)="onClick()">Add greeting</button>
</form>
<pre>
  {{arrGreeting | json}}
</pre>
